1-Bayes_MCMC_algorithm/Setup_inference.ipynb
2-Extract_Parameters/Extract_Parameters.ipynb
2-Extract_Parameters/__pycache__/Manuel_BayesTRPL_Plotting.cpython-311.pyc
2-Extract_Parameters/__pycache__/Manuel_BayesTRPL_Utilities.cpython-311.pyc
